[conf]
"fs.defaultFS" = "hdfs://localhost:8020"
"hadoop.security.authentication" = "kerberos"
"hadoop.rpc.protection" = "integrity"
"dfs.namenode.kerberos.principal.pattern" = "hdfs/localhost@esciencecenter.nl"

[keytab]
login = "hdfs/localhost@esciencecenter.nl"
path = "./config/krb5.keytab"

globs = [
    "/data/*/*/valid_data_count/count.csv",
    "/data/*/*/volume_logs/{input,output}.log",
]
